.footer-container {
    background-color: #f5f5f5;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
  }
  
  .social-links {
    display: flex;
  }
  
  .social-link {
    color: #778899;
    margin-right: 1rem;
    text-decoration: none;
  }
  
  .social-link:hover {
    color: #ffffff;
  }
  
  .footer-text {
    text-align: center;
    margin-top: 1rem;
    color: #a9a9a9;
  }
  
  .follow-us {
    text-align: center;
    margin-top: 1rem;
  }
  
  .follow-text {
    font-size: 0.875rem;
  }
  
  .additional-info {
    text-align: center;
    margin-top: 1rem;
  }
  
  .info-text {
    font-size: 0.75rem;
    color: #a9a9a9;
  }